doctype html
<html <?php language_attributes(); ?>>
head
    meta(charset="<?php bloginfo( 'charset' ); ?>")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="ie=11")

    link(type="image/gif" href="<?php echo esc_url(get_theme_file_uri()) ?>/favicon.png" rel="icon" sizes="16x16")
    script(src="https://www.youtube.com/player_api")

    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin="")
    link(href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,400;0,600;0,800;1,400;1,800&display=swap" rel="stylesheet")

    - wp_head()

<body <?php body_class(); ?>>

- wp_body_open();

- if ( is_front_page() ) :
    - $home_mobile = 'home-mobile'
- else :
    - $home_mobile = ''
- endif;

- if(get_field('phone_number', 'options')) :
    .masthead.hrz-padding
        - $phone_raw = get_field('phone_number', 'options')
        - $phone = str_replace([" ", "(", ")", "-"], "", $phone_raw)
        a.contact-phone(href="tel:<?= $phone ?>" target="_blank") 
            - echo get_field('phone_number', 'options')
- endif

- if(get_field('toggle_header_banner', 'options') == 'on'): 
    .banner.hrz-padding
        .container
            p: - echo get_field('header_banner_content', 'options')
            - if(get_field('header_banner_button', 'options')) :
                a.button(
                    href="<?= get_field('header_banner_button', 'options')['url'];?>" 
                    target="<?= get_field('header_banner_button', 'options')['target'];?>"
                    ) 
                    - echo get_field('header_banner_button', 'options')['title']
            - endif
- endif
.mobile
    .topbar
        a.mobile-logo(href="<?php echo esc_url(home_url('/')) ?>")
            img(
                src="<?php echo esc_url(get_theme_file_uri()) ?>/images/logo-white.png" 
                alt="<?php bloginfo('name') ?> Logo"
                )
        .menu-icon
            .line
            .line 
            .line
        .block
            .mobile-bottom.hrz-padding
                - mobile_menu()
header.hrz-padding
    .main-header
        .container-full
            .logo
                a(href="<?= esc_url(home_url('/')) ?>")
                    img(
                        src="<?= esc_url(get_theme_file_uri()) ?>/images/logo-white.png" 
                        alt="<?php bloginfo('name') ?> Logo"
                        )

            .menu
                nav
                    - if ( has_nav_menu('header') ) :
                        - header_menu()
                    - endif;

- if (! (is_front_page() || is_404())) :
    - include('includes/featured.php')
    //- - include('includes/breadcrumbs.php')
- endif
